<p class='addProductTitle'>Add new product</p>
<form id='addProduct' action='/clerks/add' method='POST' enctype="multipart/form-data">
  <label for='title'>Product name</label>
  <input id='title' name='title' type='text' autofocus='true'>
  <label for='price'>Product price</label>
  <input id='title' name='price' type='number'>
  <label for='description'>Product description</label>
  <input id='description' name='description' type='text'>
  <label for='category'>Product category</label>
  <select id='category' name='category' type='text'>
    <option selected="true">black</option>
    <option>red</option>
    <option>green</option>
    <option>esparticular</option>
  </select>
  <label for='quantity'>Quantity</label>
  <input id='quantity' name='quantity' type='number'>
  <label for='isBestSeller'>Is it best seller?</label>
  <input id='isBestSeller' name='isBestSeller' type='checkbox' value='true'>
  <label for='productPhoto'>Upload photo</label>
  <input id='productPhoto' name='productPhoto' type='file' accept="image/*">
  <button type='submit' class='submit'>Add Product</button>
  <button type='reset' class='reset'>Reset Entry</button>
</form>
  