<div class='welcomeMsg'>
  <p>Welcome <span class='name'>{{firstname}} {{lastname}}</span> to Tony E-Shop</p>
  <button><a href='/clerks/add'>Add Product</a></button>
  <button><a href='/clerks/modify'>Modify Product</a></button>
  <button><a href='/users/signout'>Sign Out</a></button>
</div>