<div class='welcomeMsg'>
  <p>Welcome <span class='name'>{{firstname}} {{lastname}}</span> to Tony E-Shop</p>
  <button><a href='/users/cart'>Your Cart</a></button>
  <button><a href='/products'>Start Shopping</a></button>
  <button><a href='/users/signout'>Sign Out</a></button>
</div>
